@import "../../colors";
.employees-list {
  .employee-photo {
    border-radius: 50%;
    height: 36px;
    width: 36px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
  }
  .employee-link {
    font-weight: 600;
  }
  .ant-table-tbody > tr {
    & > td {
      padding: 10px 16px;
    }
  }
}