.set-status-form {
  .action-descorption-wrapper {
    font-weight: 600;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    i {
      margin-right: 10px;
      font-size: 23px;
      font-weight: 500;
    }
  }
}