@import "../../../colors";
.benefits {
  .ant-collapse-borderless > .ant-collapse-item {
    border-bottom: none;
    &:not(:last-child) {
      border-bottom: 1px solid $background-grey;
    }
    &:first-child {
      border-top: 1px solid $background-grey;
    }

    .ant-collapse-header {
      display: flex;
      align-items: center;
      .collapse-icon {
        color: rgba(black, .4);
        font-size: 15px;
        margin-right: 20px;
        transition: all 200ms ease-in-out;
      }
      .sub-division-name {
        color: black;
        font-weight: 600;
        padding-left: 10px;
        display: flex;
        align-items: center;
        .sub-division-icon {
          margin-right: 8px;
          background: rgba($blue, .1);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          color: $blue;
          fill: $blue;
          width: 30px;
          height: 30px;
          svg {
            width: 18px;
            height: 18px;
          }
        }
      }
      .benefit-title-header {
        color: grey;
        font-weight: 600;
        display: flex;
        align-items: center;
        width: 100%;
        .collapse-icon {
          margin-right: 58px;
        }
        .benefit-title-wrapper {
          flex: 1;
          display: flex;
          justify-content: flex-end;
          padding-right: 20px;
          align-items: center;
          flex-wrap: wrap;
          .title {
            white-space: nowrap;
            flex: 1;
          }
          .title-more {
            white-space: nowrap;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            .description {
              font-weight: 500;
              margin-right: 20px;
              white-space: nowrap;
              .info-icon {
                color: $blue;
                margin-right: 5px;
              }
              .alert-icon {
                color: $red;
              }
            }
          }

        }
      }

    }
    &.ant-collapse-item-active {
      &>.ant-collapse-header {
        .collapse-icon {
          transform: rotate(180deg);
        }
      }
    }
    &.no-operation {
      background: $background-grey;
      opacity: 0.5;
      border-bottom: 1px solid $light-grey;
    }
    &>.ant-collapse-content {
      padding: 0;
      &>.ant-collapse-content-box {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
  &>.ant-collapse {
    &>.ant-collapse-item {
      &:first-child {
        border-top: none;
      }
    }
  }

  .benefit-body {
    color: black;
    padding-right: 20px;
    .description-wrapper {
      margin-bottom: 20px;
      .public-comment {
        color: $red;
        font-weight: 600;
        margin-top: 20px;
      }
    }
    .info-wrapper {
      margin-bottom: 20px;
      .info {
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
      .value {
        font-weight: 600;
        .diff {
          font-weight: 500;
          color: $red;
        }
      }
    }
  }

}

.text-alert {

  .value {
    text-align: right;
    color: $red;
  }
}