.shake {
  animation-name: shake;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
@keyframes shake {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }
  30%, 50%, 75% {
    transform: translate3d(-3px, 0, 0);
  }
  40%, 65% {
    transform: translate3d(3px, 0, 0);
  }
}

.rubberBand {
  animation-name: rubberBand;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
@keyframes rubberBand {
  0% , 100%{
    transform: scale3d(1, 1, 1);
  }
  30%, 50%, 75% {
    transform: scale3d(1.15, .85, 1);
  }
  40%, 65% {
    transform: scale3d(.85, 1.15, 1);
  }
}