.qhs-translations {
  padding: 20px 40px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  tbody {
    background: white;
  }
  .translation-massages-table {
    .table-head {
      .title {
        color: black;
      }
      .right {
        .search-field {
          width: 150px;
        }
      }
    }
  }
}