.contact-form {
  .form-error-field{
    .ant-form-explain{
      margin-bottom: 15px;
    }
  }
  .ant-tabs-tab {
    padding-left: 0;
    padding-right: 0;
  }
  .tab-title {
    font-weight: 600;
  }
  .ant-form-item {
    margin-bottom: 24px;
  }
  margin-bottom: 5px;
}